#response-block{
    margin-left: 50px;
    width: 500px;
    border-style: solid;
    border-radius: 10px; 
    border-width: 0.5px;
    width: auto;
    height: auto;
}

.box{
    padding:0.2em 0.1em;
    border-radius: 5px;
    color:#fff;
    font-size:1.1em;
    border:0;
    cursor:pointer;

  }
option{
    background-color: #fff;
    color: black;
}